<ion-modal-view>
  <ion-header-bar>

    <div class="bar bar-header bar-calm">
      <div class="buttons">
        <button class="button button-assertive ion-ios-minus" ng-click="borrarDatos()">Borrar Datos</button>
      </div>
      <h1 class="title">Acerca de...</h1>
      <div class="buttons">
        <button class="button button-assertive ion-close-circled" ng-click="closeAcercade()"></button>
      </div>
    </div>


  </ion-header-bar>
  <ion-content>

    <div class="list card">
      <div class="item item-body">
        <img class = "platillo-image" src="img/icon.png">
      </div>
      <div class="item">
        <h2>Buon Appetito</h2>
        <p>1ra. calle 5-91 z. 10 </p>
        <p>Guatemala, Guatemala </p>
        <p>Tel. 2222-2223</p>
      </div>
    </div>
    <br>
    <div class="item item-avatar">
      <img src="img/logoCA.png">
      <p>Aplicación desarrollada por:</p>
      <h2>CreApp</h2>
      <p>4 ave. 4-80 z. 14 Guatemala, Guatemala </p>
      <p>Tel. 2222-2222</p>
 </div>

  </ion-content>
</ion-modal-view>
